## Build Folders
bin/
obj/

## VS Code
.vscode/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## DotNet-specific
project.lock.json
project.fragment.lock.json
artifacts/

## Backup & temporary files
*.log
*.tmp
*.bak
*.swp

## Others
*.dbmdl
*.pdb
*.cache
*.config

## Rider IDE
.idea/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## MacOS
.DS_Store
